NODE_ENV=PRODUCTION # should never be anything else than this except if you're working on imrovements of the project

# Cors origins
CORS_ORIGINS=https://mydomain.com

# Database related
MONGODB_URI=mongodb://default:1928EwfRsd@mongo:27017/dev
MONGODB_DBNAME=dev