MONGODB_INITDB_ROOT_USERNAME = MYROOTUSERNAME
MONGODB_INITDB_ROOT_PASSWORD = MYROOTPASSWORD

# This DB name should be the same as the one in the .env located in the backend directory's .env file.
MONGODB_NEW_DB = NEWDBNAME

# MONGODB_INITDB_ROOT_USERNAME

MONGODB_NEW_USER = MYNEWUSERNAME
MONGODB_NEW_PASSWORD = MYNEWPASSWORD